.product-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
