.product-card {
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.product-card h3 {
  font-size: 1rem;
  margin: 10px 0 5px 0;
}

.product-card p {
  margin: 0;
}
